body{
    color:olive;
    ul.list {
        li{
            a{
                font-weight: bold;
                color: peru;
            }
            a.thin{
                font-weight: normal;
            }
        }
    }
}

